accelerate==1.1.0
aiofiles==24.1.0
asgiref==3.8.1
backoff==2.2.1
click==8.1.7
cryptography==3.1
dataclasses-json==0.6.7
deprecated==1.2.14
docarray==0.40.0
docker==7.1.0
ecdsa==0.19.0
fastapi==0.115.4
filelock==3.16.1
fsspec==2024.10.0
googleapis-common-protos==1.65.0
grpcio==1.57.0
grpcio-health-checking==1.57.0
grpcio-reflection==1.57.0
hnswlib==0.8.0
httptools==0.6.4
huggingface-hub==0.26.2
importlib-metadata==6.11.0
jcloud==0.3
jieba==0.42.1
jina-hubble-sdk==0.39.0
joblib==1.4.2
langchain==0.3.3
langchain-community==0.3.2
markdown-it-py==3.0.0
marshmallow==3.23.1
mdurl==0.1.2
modelscope==1.19.2
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
opentelemetry-api==1.19.0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-exporter-otlp-proto-common==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-otlp-proto-http==1.19.0
opentelemetry-exporter-prometheus==0.41b0
opentelemetry-instrumentation==0.40b0
opentelemetry-instrumentation-aiohttp-client==0.40b0
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-grpc==0.40b0
opentelemetry-proto==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==0.40b0
opentelemetry-util-http==0.40b0
pandas==2.2.3
pathspec==0.12.1
pillow==11.0.0
protobuf==4.25.5
pyasn1==0.6.1
pydantic==1.10.8
pydantic-core==2.18.4
pydantic-settings==2.6.1
pypdf==5.1.0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.17
rank-bm25==0.2.2
regex==2024.11.6
rich==13.9.4
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
sentence-transformers==3.2.1
starlette==0.41.2
sympy==1.13.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.3
torch==2.5.1
tqdm==4.67.0
transformers==4.46.2
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect==0.9.0
tzdata==2024.2
urllib3==1.26.20
uvicorn==0.23.1
vectordb==0.0.21
watchfiles==0.24.0
websockets==13.1
wrapt==1.16.0
yarl==1.17.1